<?xml version="1.0"?>
<robot name="omni_boat" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- ================= INCLUDES ================= -->
  <xacro:include filename="$(find mhseals_nav)/description/omni_boat/t200_thruster.xacro"/>
  <xacro:property name="mesh_root" value="package://mhseals_nav/description/omni_boat/meshes"/>

  <!-- ================= BASE ================= -->
  <link name="base_link">
    <collision>
      <origin xyz="0 0 0.02680" rpy="0 0 -1.57080"/>
      <geometry>
        <box size="0.42126 0.36402 0.21093"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.00008 -0.00025 -0.09151" rpy="0 0 -1.57080"/>
      <geometry>
        <box size="0.43525 0.45570 0.02168"/>
      </geometry>
    </collision>
    <visual>
      <material name="ElectricalBox"/>
      <origin xyz="0 0 -0.07877" rpy="1.57080 0 -1.57080"/>
      <geometry>
        <mesh filename="${mesh_root}/IP65.stl"
              scale="0.00191 0.00190 0.00243"/>
      </geometry>
    </visual>
    <visual>
      <material name="Aluminum"/>
      <origin xyz="0.00008 0 -0.08989" rpy="0 0 -1.57080"/>
      <geometry>
        <mesh filename="${mesh_root}/ElectricalMountFrame.stl"
              scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
  </link>

  <!-- ================= SENSOR RAIL ================= -->
  <link name="sensor_rail_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <material name="Aluminum"/>
      <geometry>
        <box size="0.43927 0.02150 0.02150"/>
      </geometry>
    </visual>
    <inertial>
      <mass value="0.8"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="0.00006" ixy="0" ixz="0" iyy="0.01292" iyz="0" izz="0.01292"/>
    </inertial>
  </link>
  <joint name="sensor_rail_link_joint" type="fixed">
    <parent link="base_link"/>
    <child link="sensor_rail_link"/>
    <origin xyz="0.37825 0 -0.09151" rpy="0 0 -1.57080"/>
  </joint>

  <!-- ================= SENSORS ================= -->
  <link name="gps_link"/>
  <joint name="gps_link_joint" type="fixed">
    <parent link="base_link"/>
    <child link="gps_link"/>
    <origin xyz="0 0 0" rpy="0 0 -1.57080"/>
  </joint>

  <link name="imu_link"/>
  <joint name="imu_link_joint" type="fixed">
    <parent link="base_link"/>
    <child link="imu_link"/>
    <origin xyz="0 0 0" rpy="0 0 -1.57080"/>
  </joint>

  <link name="camera_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <material name="Camera"/>
      <geometry>
        <mesh filename="${mesh_root}/ZED2i.stl"
              scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
  </link>
  <joint name="camera_link_joint" type="fixed">
    <parent link="sensor_rail_link"/>
    <child link="camera_link"/>
    <origin xyz="0 0 -0.02610" rpy="0 0 0"/>
  </joint>

  <link name="lidar_link">
    <visual>
      <material name="Lidar"/>
      <origin xyz="0.00003 -0.00061 0.03534"
              rpy="1.57080 0 -1.57080"/>
      <geometry>
        <mesh filename="${mesh_root}/VelodyneVLP16.stl"
              scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
  </link>
  <joint name="lidar_link_joint" type="fixed">
    <parent link="sensor_rail_link"/>
    <child link="lidar_link"/>
    <origin xyz="0 0 0.01075" rpy="0 0 0"/>
  </joint>

  <!-- ================= HULLS ================= -->
  <link name="left_hull_link">
    <collision>
      <origin xyz="-0.00031 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="${mesh_root}/HullCollision.stl"
              scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
    <visual>
      <material name="WaterproofedHull"/>
      <origin xyz="-0.00031 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="${mesh_root}/HullVisual.stl"
              scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
  </link>
  <joint name="left_hull_link_joint" type="fixed">
    <parent link="base_link"/>
    <child link="left_hull_link"/>
    <origin xyz="-0.00008 0.33137 -0.20009" rpy="0 0 -1.57080"/>
  </joint>
  
  <link name="right_hull_link">
    <collision>
      <origin xyz="0.00002 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="${mesh_root}/HullCollision.stl"
              scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
    <visual>
      <material name="WaterproofedHull"/>
      <origin xyz="0.00002 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="${mesh_root}/HullVisual.stl"
              scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
  </link>
  <joint name="right_hull_link_joint" type="fixed">
    <parent link="base_link"/>
    <child link="right_hull_link"/>
    <origin xyz="-0.00008 -0.33137 -0.20009" rpy="0 0 -1.57080"/>
  </joint>

  <!-- ================= THRUSTERS ================= -->
  <xacro:t200_thruster
    name="front_left"
    parent="left_hull_link"
    xyz="-0.00031 0.27985 -0.20016"
    rpy="-1.57080 0 -0.78540"
    thruster_mesh="${mesh_root}/T200Thruster.stl"
    prop_mesh="${mesh_root}/T200Propeller.stl"/>

  <xacro:t200_thruster
    name="rear_left"
    parent="left_hull_link"
    xyz="-0.00031 -0.27970 -0.20016"
    rpy="-1.57080 0 -2.35619"
    thruster_mesh="${mesh_root}/T200Thruster.stl"
    prop_mesh="${mesh_root}/T200Propeller.stl"/>

  <xacro:t200_thruster
    name="front_right"
    parent="right_hull_link"
    xyz="0.00002 0.27985 -0.20016"
    rpy="-1.57080 0 0.78540"
    thruster_mesh="${mesh_root}/T200Thruster.stl"
    prop_mesh="${mesh_root}/T200Propeller.stl"/>

  <xacro:t200_thruster
    name="rear_right"
    parent="right_hull_link"
    xyz="0.00002 -0.27970 -0.20016"
    rpy="-1.57080 0 2.35619"
    thruster_mesh="${mesh_root}/T200Thruster.stl"
    prop_mesh="${mesh_root}/T200Propeller.stl"/>

  <!-- ================= MATERIALS ================= -->
  <material name="Aluminum"><color rgba="0.64 0.64 0.64 1"/></material>
  <material name="ElectricalBox"><color rgba="0.19 0.19 0.19 1"/></material>
  <material name="WaterproofedHull"><color rgba="0.06667 0.06667 0.06667 1"/></material>
  <material name="Camera"><color rgba="0.14902 0.14902 0.14902 1"/></material>
  <material name="Lidar"><color rgba="0.01176 0.22353 1.0 1"/></material>
  <material name="Material"><color rgba="0.02 0.02 0.02 1"/></material>

</robot>